@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3859FF;
  --green: #10C44C;
  --black: #1B1B1B;
  --gray: #F5F7FA;
  --gray-dark: #99A3AE;
}

body {
  height: 100vh;
}